<!DOCTYPE html>
<html>
	<head>
		<title>Contact page</title>
	</head>
	<body>
		{{> header}}

		<div style="background-color:#fff;width: 100%;padding-left: 10px;padding-bottom: 10px;">
			<h2><u>Contact us</u></h2>
			<p><b>Address :-</b> {{address}}</p>
			<p><b>Mobile  :-</b>{{mobile}}</p>
			<p><b>Website :-</b> {{website}}</p>
		</div>

		{{> footer}}
	</body>
</html>